#searchCar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    label {
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            width: 2rem;
            height: 2rem;
        }
    }

    input {
        height: 2rem;
        width: 30rem;
        margin: 0 1rem;
        border-radius: 6px;
        padding: 0 1rem;
        border: none;

        &::placeholder {
            font-size: 1rem;
        }

        &:focus {
            outline: 0;
            box-shadow: 0 0 0 0;
        }
    }

    .return {
        display: block;
        height: 2rem;
        width: 3rem;
        background-color: $White;
        border-radius: 6px;
        margin: 0 auto;
        
        a {
            top: 15%;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $Charcoal-Grey;
        }
    }
}